/* index.css = global reset & base styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #9eaecd;
  color: #213547;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
